<container class="view" id="chatprofile">
    <header>
        <h2>Mi perfil</h2>
    </header>
    <form action="/profile" method="post" name="profile" id="profile">
        <label for="user">Usuario
            <strong class="user"></strong>
        </label>
        <label for="nombre">Nombre
            <input name="nombre" type="text" maxlength="16"/>
        </label>
        <label for="apellido">Apellido
            <input name="apellido" type="text" maxlength="16"/>
        </label>
        <label for="actions">
            <button type="submit" form="profile" id="buttonEditProfile">Editar</button>
        </label>
    </form>
</container>
