<container class="view" id="chatprofile">
    <header>
        <h2>Mi perfil</h2>
    </header>
    <form action="/profile" method="post" name="profile" id="profile">
        <label for="user">Usuario
            <strong class="user"></strong>
        </label>
        <label for="nombre">Nombre
            <input name="firstname" type="text" maxlength="16"/>
        </label>
        <label for="apellido">Apellido
            <input name="lastname" type="text" maxlength="16"/>
        </label>
        <label for="actions">
            <button type="submit" form="profile" id="buttonEditProfile">Editar</button>
            <button type="button" form="profile" class="go-chat">Volver</button>
        </label>
    </form>
</container>
