#chatfeed {
    list-style: none;
}
#chatview textarea {
    width:70%;
}
#chatview li.user {
    float:right;
    text-align: right;
}
#chatview li.nouser {
    float: left;
    text-align: left;
}
#chatview li {
    width:70%;
    font-size:12px;
    margin:5px;
    padding:5px;
    background-color: #eee;
    border-radius:5px;
}
#feedwindow {
    height:370px;
    overflow:auto;
    display:block;
}
