<!doctype html>
<html>
<head>
    <title>Chat App</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <link rel="stylesheet" type="text/css" href="./login.css">
    <link rel="stylesheet" type="text/css" href="./userlist.css">
    <link rel="stylesheet" type="text/css" href="./feed.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
    <div id="container">
        <chatlogin>
        <chatregister>
        <chatprofile>
        <chatfeed>
        <userlist>
    </div>
</body>
</html>