<!doctype html>
<html>
<head>
    <title>Chat App</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>
<body>
    <div id="container">
        <div class="view" style="display: block">
            <h1 style="text-align:center; color: #900">404!</h1>
            <img class="E404" src="../error-404.jpg" />
        </div>
    </div>
</body>
</html>