html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background: #eee;
}
body::-webkit-scrollbar {
    width: 1em;
}
ul {
    list-style: none;
}
button:focus {
    outline:none
}
.view header {
    width:100%;
    text-align: center;
    display:block;
}
#container {
    position:absolute;
    width:100%;

}
.view form {
    padding:20px;
    width: 290px;
}
.view label {
    width:90%;
    padding:20px;
    display: inline-block;            
}
.view input {
    margin-right:20px;
    float:right;
}
.view {
    display:none;
    padding: 10px 0px 0px 0px;
    background-color: #fff;
    margin:0 auto;
    position:relative;
    width: 310px;
    height: 500px;
    border-right: 2px solid #666;
    border-bottom: 2px solid #444;
    border-radius: 30px;
}
#chatview textarea {
    width:70%;
}
#chatview li.user {
    float:right;
    text-align: right;
}
#chatview li.nouser {
    float: left;
    text-align: left;
}
#chatview li {
    width:70%;
    font-size:12px;
    margin:5px;
    padding:5px;
    background-color: #eee;
    border-radius:5px;
}

#userlist container {
    height:400px;
    overflow-y:auto;
    overflow-x: hidden;
    display:block;
}

#feedwindow {
    height:370px;
    overflow:auto;
    display:block;
}
button {
    color: white;
    background-color: blue;
    padding: 10px;
    border: 1px solid #ccc;
}
#buttonChat {
    float:right;
    margin-right: 80p;
}
#buttonChat, #buttonGoProfile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}