<container class="view" id="userlist">
    <header>
        <button type="button" class="go-chat fas">&#xf075;</button>
        <button type="button" class="go">&#9742;</button>
        <button type="button" class="go-profile">&#9776;</button>
    </header>
    <container>
        <label for="actions">
            <button type="button" id="fetchAll">Ver todos</button>
            <button type="button" id="fetchConnected">Solo conectados</button>
        </label>
        <ul id="contacts"></ul>
    </container>
</container>
