<container class="view" id="chatlogin">
    <header>
        <h1>Chat</h1>
        <h2>Login</h2>
    </header>
    <form action="/login" method="post" name="login" id="login">
        <label for="email">
            Email
            <input name="email" type="text" maxlength="128"/>
        </label>
        <label for="user">
            Usuario
            <input name="user" type="text" maxlength="16"/>
        </label>
        <label for="actions">
            <button type="submit" form="login" id="buttonEnter">Entrar</button>
            <button type="button" form="login" class="go-register">Resgistrarse</button>
        </label>
    </form>
</container>
